[submodule "logger"]
	path = logger
	url = ../logger.git
[submodule "base64"]
	path = base64
	url = ../base64.git
[submodule "file-util"]
	path = file-util
	url = ../file-util.git
[submodule "properties-parser"]
	path = properties-parser
	url = ../properties-parser.git
[submodule "simple-ipc"]
	path = simple-ipc
	url = ../../MCMrARM/simple-ipc.git
[submodule "daemon-utils"]
	path = daemon-utils
	url = ../daemon-utils.git
[submodule "msa-daemon-client"]
	path = msa-daemon-client
	url = ../msa-daemon-client.git
[submodule "libhybris"]
	path = libhybris
	url = ../libhybris.git
[submodule "eglut"]
	path = eglut
	url = ../eglut.git
[submodule "linux-gamepad"]
	path = linux-gamepad
	url = ../../MCMrARM/linux-gamepad.git
[submodule "game-window"]
	path = game-window
	url = ../game-window.git
[submodule "file-picker"]
	path = file-picker
	url = ../file-picker.git
[submodule "cll-telemetry"]
	path = cll-telemetry
	url = ../cll-telemetry.git
[submodule "minecraft-symbols"]
	path = minecraft-symbols
	url = ../minecraft-symbols.git
[submodule "minecraft-imported-symbols"]
	path = minecraft-imported-symbols
	url = ../minecraft-imported-symbols.git
[submodule "mcpelauncher-common"]
	path = mcpelauncher-common
	url = ../mcpelauncher-common.git
[submodule "mcpelauncher-core"]
	path = mcpelauncher-core
	url = ../mcpelauncher-core.git
[submodule "mcpelauncher-client"]
	path = mcpelauncher-client
	url = ../mcpelauncher-client.git
[submodule "mcpelauncher-server"]
	path = mcpelauncher-server
	url = ../mcpelauncher-server.git
[submodule "arg-parser"]
	path = arg-parser
	url = ../arg-parser.git
